body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.registration-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.registration-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group div {
    margin-bottom: 5px;
    color: #666;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.form-group label {
    margin-right: 10px;
    color: #666;
}

textarea.form-control {
    resize: none;
}

.btn {
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin-right: 5px;
}

.btn:hover {
    background-color: #218838;
}
